<%= simple_form_for([@crisp, @crisp.reviews.build]) do |form| %>

    <%= form.input :comment, 
                    label: "Write Review", 
                    error: 'Please enter your review',
                    required: true,
                    class: 'form-field',
                    autofocus: true
                    %>
    <div id="rating-questions">
        <label>How many stars would you give them?</label>
    </div>
    <div id="rating-form"></div>
    <%= form.button :submit %>
<% end %>

<script>
$(document).ready(function() {
    $('#rating-form').raty({
        path: '/assets/', 
        scoreName: 'review[rating]'
    });
    $('#rating-form').validate({
        ignore: []
})
});
</script>  