<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>


<div>
    <% if user_signed_in? %>
        <%= link_to "Add Comment", new_review_comment_path(review) %>
    <% end %>
</div>

<div>
    <%= render review.comments %>
</div> 